{% extends "site_shape.html" %}

{% block content %}

<div class="section">
    <div class="row">
        <div class="col s12">
            <object id="picture1" type="image/svg+xml"
                data="static/nginx_uwsgi_setup/nginx_uwsgi_simple.svg"></object>
        </div>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="col s12">
            <object id="picture2" type="image/svg+xml"
                data="static/nginx_uwsgi_setup/nginx_uwsgi_multiple.svg"></object>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/paintsvgs.js"></script>
<script>
    const transformTable = {
        "stylePrefix": "materialize",
        "picturesToProcess": {
            "picture1": {
                "toPaint": [
                    {
                        "sourceClass": "execution-flow",
                        "nameMatches": [
                            ["stroke", "color", "teal-text text-darken-3"],
                        ],
                    },
                ],
            },
            "picture2": {
                "sameAs": "picture1",
            },
        },
    };

    window.addEventListener('load', (event) => {
        const pictures = document.querySelectorAll("object[type='image/svg+xml']");
        const sheet = getStylesheet(document.styleSheets, transformTable);
        paintPicture(pictures, transformTable, sheet);
    });
</script>

{% endblock %}