{% extends "site_shape.html" %}

{% block content %}

<div class="section">
    <div class="row">
        <div class="col s12">
            <img src="static/nginx_uwsgi_setup/nginx_uwsgi_simple.svg" alt="Nginx + uWSGI simple setup"/>
        </div>
    </div>
</div>

<script>var huj = 22;</script>

<div class="section">
    <div class="row">
        <div class="col s12">
            <object type="image/svg+xml" data="static/nginx_uwsgi_setup/nginx_uwsgi_multiple.svg"></object>
            <div style="display: none">HUJ</div>
            <!-- <svg>
                <use xlink:href="nginx_uwsgi_multiple.svg#svg8"></use>
            </svg> -->
            <!-- <img src="static/nginx_uwsgi_setup/nginx_uwsgi_multiple.svg" alt="Nginx + uWSGI multiple setup"/> -->
        </div>
    </div>
</div>

{% endblock %}
