<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Cute programmer">
    <meta name="author" content="Yury Danilin">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>Anamnesis vitae</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="./static/js/default.js"></script>
    <!-- <link rel="stylesheet" href="./static/css/default.css"> -->
</head>
<html>

<body>
    <div class="navbar-fixed">
        <nav class="teal lighten-1">
            <div class="nav-wrapper">
                <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i
                        class="material-icons">menu</i></a>
                <a href="#" class="brand-logo center">Home</a>
            </div>
        </nav>
    </div>
    <ul id="slide-out" class="sidenav">
        <li><a href="#!">First Sidebar Link</a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header">Dropdown<i class="material-icons right"
                            style="margin-right:0;">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!">First</a></li>
                            <li><a href="#!">Second</a></li>
                            <li><a href="#!">Third</a></li>
                            <li><a href="#!">Fourth</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header">Dropdown<i class="material-icons right"
                            style="margin-right:0;">arrow_drop_down</i></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="#!">First</a></li>
                            <li><a href="#!">Second</a></li>
                            <li><a href="#!">Third</a></li>
                            <li><a href="#!">Fourth</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div class="container">
        <div class="section">
            <h2 class="header center teal-text text-darken-3">Scratches from Yury</h1>
            <h4 class="center">This will be Gan Eden here...</h3>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Flight Logbook</h5>
            <p>
            Whenever I'm doing either a commercial or pet programming project
            or some DIY stuff, I always try to record what was done, learned,
            investigated. This creates a reference base we can consult with when needed.
            When possible, I prefer using pictures like shown here.
            </p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <div class="row">
                <div class="col s12 m6">
                    <h5>Burdensome Devops</h5>
                    <p>
                    Not the most creative part of our life but really needed.
                    Memory cards how to do (how I did) various system setup tasks.
                    </p>
                </div>
                <div class="col s12 m6">
                    <h5>Song of Songs</h5>
                    <p>
                    What workflow I use to write articles in a way to be easily ported from
                    simple (Markdown) text either onto website or PDF paper.
                    This includes issues with graphics, formulas, styles etc.
                    Start point is Markdown in VSCode, which then
                    goes into Pandoc to be converted appropriately...
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>